<!DOCTYPE html>
<html>
<head>
    <title>UDUS LOST AND FOUND - Home</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<header>
        <h1>UDUS LOST AND FOUND REPORTING SYSTEM</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'lost_report' %}">Report Lost Item</a></li>
                <li><a href="{% url 'found_report' %}">Report Found Item</a></li>
                <li><a href="{% url 'view_items' %}">View Items</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'help_page' %}">Help</a></li>
                <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <h1>Welcome to the Lost and Found Reporting System</h1>
        <p><h2>Find lost items or report found items within Usmanu Danfodiyo University Sokoto.</h2></p>
        <p><h2> Kindly press on Sign up to register</p><h2>

    </div>

    <footer>
        <p>&copy; 2024 UDUS lost and found. All rights reserved.</p>
    </footer>
</body>
</html>
