<!DOCTYPE html>
<html>
<head>
    <title>UDUS LOST AND FOUND - Home</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<header>
        <h1>UDUS LOST AND FOUND REPORTING SYSTEM</h1>
        <nav>
            <a href="home.html">Home</a>
            <a href="lost_report.html">Report Lost Item</a>
            <a href="found_report.html">Report Found Item</a>
            <a href="view_items.html">View Items</a>
            <a href="profile.html">Profile</a>
			<a href="help_page.html">Help</a>
			<a href="sign_up.html">Sign Up</a>
			<a href="login.html">Log In</a>
        </nav>
    </header>

    <div class="main-content">
        <h2>Welcome to the Lost and Found Reporting System</h2>
        <p>Find lost items or report found items within Usmanu Danfodiyo University Sokoto.</p>
        <button onclick="window.location.href='lost_report.html'">Report Lost Item</button>
        <button onclick="window.location.href='found_report.html'">Report Found Item</button>
    </div>

    <footer>
        <p>&copy; 2024 UDUS lot and found. All rights reserved.</p>
    </footer>
</body>
</html>
