<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>REPORT LOST ITEM</title>
</head>
<body>
    <header>
        <h1> Report Lost Item</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'lost_report' %}">Report Lost Item</a></li>
                <li><a href="{% url 'found_report' %}">Report Found Item</a></li>
                <li><a href="{% url 'view_items' %}">View Items</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'help_page' %}">Help</a></li>
                <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
            </ul>
        </nav>
        
    </header>

    <div class="main-content">
	 <p style="text-align:center;">
		REPORT A LOST ITEM
		</p>
		
        <form>
            {% csrf_token %}
            <label for="itemName">Item Name:</label>
            <input type="text" id="itemName" name="itemName" required>

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>

            <label for="dateLost">Date Lost:</label>
            <input type="date" id="dateLost" name="dateLost" required>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>

            <label for="contactInfo">Contact Information:</label>
            <input type="email" id="contactInfo" name="contactInfo" required>

            <label for="uploadImage">Upload Image:</label>
            <input type="file" id="uploadImage" name="uploadImage">

            <button type="submit">Submit</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 UDUS Lost and Found. All rights reserved.</p>
    </footer>
</body>
</html>