<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>User Profile</title>
</head>
<body>
    <header>
        <h1>User Profile</h1>
        <nav>
			<a href="home.html">Home</a>
            <a href="lost_report.html">Report Lost Item</a>
            <a href="found_report.html">Report Found Item</a>
            <a href="view_items.html">View Items</a>
            <a href="profile.html">Profile</a>
			<a href="help_page.html">Help</a>
			<a href="sign_up.html">Sign Up</a>
			<a href="login.html">Log In</a>
        </nav>
    </header>

    <div class="main-content">
        <h2>My Profile</h2>
        <p>Name: Abubakar Bello Umar</p>
        <p>Email: abubakarfone@gmail.com</p>
        <h3>My Reported Items</h3>
        <!-- Dynamic list of user's reported items -->
    </div>

    <footer>
        <p>&copy; 2024 UDUS Lost and Found. All rights reserved.</p>
    </footer>
</body>
</html>
